<ul class="collapsible" data-collapsible="accordion">
  <li class="collection-item avatar"  *ngFor="let item of items | async | speakerFilter">
      <div class="collapsible-header">
        <img src={{item.foto}} width="80px" height="80px" alt="" class="circle">
        <span class="new badge">{{item.titulo}}</span>
        <i class="material-icons">{{item.atual ? "filter_drama" : "grade"}}</i>
        {{item.palestrante}}
      </div>
      <div class="collapsible-body">
        <p>{{item.descricao}}</p>
        <p>Início {{item.inicio}}</p>
        <p>Fim {{item.fim}}</p>
    </div>
  </li>
</ul>
